


.listingEntry {
    border-bottom: 1px solid #D0D0D0;
}

.listingEntry .actions {
    list-style-type:none;
    margin:0;
    padding:0;
    font-size:80%;
    text-align:right;
}

.listingEntry .actions li {
    display:inline;
    padding: 0 0.5em;
    border-left: 1px solid #D0D0D0;
}

label {
    float:left;
    width:150px;
}

div.field {
    margin-bottom:10px;
}


.contentView {
    display:none;
}

.activeContentView {
    display:block;
}

/* AJAX SPINNER */
#ajax-spinner {
    position:fixed;
    left:8px;
    top:8px;
    margin: 0;
    z-index:1000;
    width:8px;
    height:8px;
    background: transparent url(images/ajax-spinner2.gif) center center no-repeat;
}

/* FORM VALIDATION */

label.error {
    font-weight:normal;
    color: #000;
    float: right;
    border: 1px solid #FFDD00;
    background-color: #FFFFDD;
    padding: 4px 8px;
}

input.error {
    border: 1px solid #DD0000;
    background-color: #FFF0F0;
}

span.required-marker {
    color:red;
    padding-left:0.5em;
}



/* a nice pipe-separated inline list */
.inlineList {
    display: inline;
    margin:0;
    padding:0;
    list-style: none;
}

.inlineList li {
    display:inline;
    padding: 0 0.5em;
    border-left: 1px solid #D0D0D0;
}

.inlineList li:first-child {
    border-left: none;
}

.asyncTaskPending {
    background: transparent url("images/ajax-spinner-small.gif") right center no-repeat;
    padding-right: 16px;
}