

.formish-form label {
    float:left;
    width:150px;
}

div.field {
    margin-bottom:10px;
}


.contentView {
    display:none;
}

.activeContentView {
    display:block;
}


/* FORM VALIDATION */

label.error {
    font-weight:normal;
    color: #000;
    float: right;
    border: 1px solid #FFDD00;
    background-color: #FFFFDD;
    padding: 4px 8px;
}

input.error {
    border: 1px solid #DD0000;
    background-color: #FFF0F0;
}

span.required-marker {
    color:red;
    padding-left:0.5em;
}



/* a nice pipe-separated inline list */
.inlineList {
    display: inline;
    margin:0;
    padding:0;
    list-style: none;
}

.inlineList li {
    display:inline;
    padding: 0 0.5em;
    border-left: 1px solid #D0D0D0;
}

.inlineList li:first-child {
    border-left: none;
}

a.iconAdd {
    display: inline-block;
    vertical-align:text-bottom;
    width: 16px;
    height: 16px;
    background: transparent url("images/add.png") center center no-repeat;
}

a.iconAdd:hover {
    background-image: url("images/add_on.png");
}


.partial.loading {
    border: 1px solid #F0F0F0;
    background: transparent url("images/ajax-spinner-small.gif") left center no-repeat;
    padding-left: 24px;
}

/* css for timepicker addon for datepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


.ui-timepicker-select, .ui-datepicker-month, .ui-datepicker-year {
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );   
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%); 
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  display: inline;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}

.ui-timepicker-select {
  width: 100px;
}
